body,html {
    height:100%;
 }	    
 .section {
     background-size:cover;
     background-position: center center;
     width:100%;
     min-height:100%;
     padding-top:75px;  
 }
 #intro {
     background-image: url(images/Coffee1.jpg);
 }
 /* Extra credit: change background color by use nth-child  */
section:nth-child(5){
    background-color: burlywood;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: saddlebrown;
    font-size: 250%;
}
.introduction{
    font-weight: 400;
    font-size: 120%;
    line-height: 1.5;
    color:sienna;
    margin-left:10%;
    margin-right: 10%;
}